services:
  pollux:
    image: ghcr.io/yoo1tic/pollux:latest
    container_name: pollux
    ports:
      - "8188:8188"
    volumes:
      # Runtime config
      - ./config.toml:/app/config.toml
      # Persist SQLite database
      - ./data.db:/app/data.db

    # Restart policy
    restart: unless-stopped
